{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
{% include "radix:views-view--unformatted" %}
#}

{% block views_unformatted_title %}
  {% if title %}
    {% include 'radix:heading' with {
      heading_html_tag: 'h3',
      content: title
    } %}
  {% endif %}
{% endblock %}

{% block views_unformatted_rows %}
  {% for row in rows %}
	<div class="school-clan">
		{% 
		set row_classes = [
			default_row_class ? 'views-row',
		]|merge(row_utility_classes ? row_utility_classes : []) 
		%}
		
		<div{{ row.attributes.addClass(row_classes) }}>
		{{- row.content -}}
		</div>
	</div>
  {% endfor %}
{% endblock %}