<table class="paragraph-tabular-data-numeric">
     <thead>
          <tr>
               <th colspan="2">
                    {{ paragraph.field_description.value }}
               </th>
          </tr>
     </thead>

     <tbody>
          {{ content.field_numerical_table_data }}
     </tbody>
</table>