<tr>
     <td class="range">{{ paragraph.field_range_low.value  }}{% if paragraph.field_range_high.value == 0 or paragraph.field_range_high.value %}<i class="fa-solid fa-minus"></i>{{ paragraph.field_range_high.value }}{% endif %}</td>
     <td class="description">{{ paragraph.field_description.value }}</td>
</tr>