.side-navigation-pane {
     display: none;
}

#simple-list-example {
     position: fixed;
     top: 25%;
     left: 0;

     a.active {
          font-weight: bold;;
     }
}

@include media-breakpoint-up(lg) {
     .side-navigation-pane {
          display: block;
          position: fixed;
          top: 25%;
          left: 2rem;
          width: 200px;

          a {
               color: $gray-800;
               text-decoration: none;
          }

          h6 {
               font-size: 1.25rem;
               margin: 0;
               padding: 0;
          }
          
          .side-pane-navigation-ring-wrapper {
               display: block;
               margin: 1rem 0;
               padding-left: 55px;
               position: relative;

               &.multi-element {
                    img {
                         top: 10px;
                         animation: rotation 5s infinite linear;
                    }
               }

               img {
                    position: absolute;
                    left: 0;
                    top: -2px;
                    width: 50px;

                    &.universal {
                         opacity: .75;
                    }
               }

               &.active {
                    h6 {
                         font-weight: bold;

                    }
               }

               .side-pane-mastery-link {
                    &.active {
                         font-weight: bold;
                    }
               }
          }

          .side-pane-navigation-sublinks {
               a {
                    display: inline-block;
                    padding-right: 0.25rem;               
               }
          }
     }
}

@keyframes rotation {
     from {
          transform: rotate(0deg);
     }
     to {
          transform: rotate(359deg);
     }
}