/*
.navbar {
    .me-auto {
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    .navbar-brand__text {
        line-height: 1;
        margin-top: 0.5rem;
        
        span:first-child {
            font-family: "Comforter Brush", cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 75px;
        }

        span:last-child {
            font-size: 14px;
        }
    }
}
*/

.navbar {
     background-color: $gray-900 !important;

     a {
          color: $white;

          &:hover {
//               color: $gray-500;
               color: $purple;
          }
     }

     .block-system-branding-block {
          display: flex;
          flex-basis: auto;
     }

     .navbar-brand__text {
          span:first-child {
               font-family: "Comforter Brush", cursive;
               font-size: 50px;
               line-height: 1;
               margin-bottom: -5px;
               margin-top: 5px;
          }   

          .small {
               display: none;;
          }
     }

     .nav-link {
          &.active {
               color: $gray-600;
          }
     }

     .navbar-toggler-icon {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
     }
}

.toolbar-horizontal {
     .navbar {
          margin-top: 80px;
     }
}