@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

@include media-breakpoint-up(lg) {
     body {
          margin-top: calc( 77px + 3rem );
     }

     main {
          min-height: calc( 100vh - 76px - 44px );
     }

     .toolbar-horizontal {
          main {
               min-height: calc( 100vh - 76px - 44px - 39px );
          }

          &.toolbar-tray-open {
               main {
                    min-height: calc( 100vh - 76px - 44px - 39px - 40px );
               }
          }
     }
}

@include media-breakpoint-down(md) {
     body {
          padding-top: calc( 3rem + 77px);
     }

     main {
          padding-bottom: 3rem;
     }
}

.path-frontpage {
    h1 {
        display: none;;
    }
    
    .grouped-view {
        &.view-site-search {
            margin: .5rem 0;
        }
    }

    .homepage-spells-ranks {
          display: inline-block;
          margin-left: 1rem;
    }
}


@include media-breakpoint-down(md) {
     #toolbar-bar {
          margin-top: 76px;
     }
}

.honor-table {
     tr {
          &:nth-child( even ) {
               background: $gray-200;
          }

          td {
               &:not(:first-child) {
                    text-align: center;
                    width: 75px;
               }
          }

          th {
               &:not(:first-child) {
                    text-align: center;;
               }
          }
     }
}