.navbar-expand-lg {
     &.fixed-top {
          z-index: 1200;
     }

     @include media-breakpoint-up(lg) {
          overflow: visible;
     }

     .navbar-nav {
          li {
               a {
                    &:focus {
                         color: $purple;
                    }

                    &.show {
                         color: $purple;
                    }
               }
               
               .show {
                    .dropdown-menu {
                         display: block;
                    }
               }

               @include media-breakpoint-up(lg) {
                    &:hover {
                         .dropdown-menu {
                              display: block;
                         }
                    }
               }

               .dropdown-menu {
                    background-color: $gray-900;
                    border: 0;
                    margin: 0;
                    margin-left: 1.5rem;
                    padding: 0;

                    a {
                         color: $gray-100;

                         &:first-child {
                              @include media-breakpoint-up(lg) {
                                   display: none;
                              }
                         }

                         &:hover {
                              color: $purple;
                         }
                    }

                    &.child-dropdown {
                         margin-left: 2rem;

                         a {
                              display: block;;
                         }
                    }

                    .dropdown-item {
                         &:hover, &.active {
                              background-color: $gray-900;
                         }
                    }

                    @include media-breakpoint-up(lg) {
                         margin-left: -.5rem;

                         &.child-dropdown {
                              margin-left: 2rem;
                              padding: 0;
                              position: relative;

                              a {
                                   font-size: .75rem;
                                   padding: 0;  
                              }                                 
                         }
                    }                         
               }
          }
     }
}
