// Clan Colors
$crab:         #2B5DA8;
$crane:        #81BEE7;
$dragon:       #4BAA6C;
$lion:         #D2AE5B;
$mantis:       #0C452C;
$phoenix:      #EC644E;
$scorpion:     #B72533;
$spider:       #222222;
$unicorn:      #5D4490;

// Ring Colors
$air:          #508593;
$earth:        #DBAC38;
$fire:         #D2121A;
$water:        #D2121A;
$void:         #494949;