{% if fields.type_1.content == 'advantages_disadvantages' %} 
     {% include '@km/templates/views/site-search/advantages-disadvantages/advantages-disadvantages.html.twig' %}
{% elseif fields.type_1.content == 'ancestors' %} 
     {% include '@km/templates/views/ancestors/views-view-fields--ancestors.html.twig' %}
{% elseif fields.type_1.content == 'equipment' %}
     {% include '@km/templates/views/equipment/views-view-fields--equipment.html.twig' %}
{% elseif fields.type_1.content == 'families' %}
     {% include '@km/templates/views/families/views-view-fields--families.html.twig' %}
{% elseif fields.type_1.content == 'kata' %}
     {% include '@km/templates/views/kata/views-view-fields--kata.html.twig' %}
{% elseif fields.type_1.content == 'kiho' %}
     {% include '@km/templates/views/kiho/views-view-fields--kiho.html.twig' %}
{% elseif fields.type_1.content == 'schools' %}
     {% include '@km/templates/views/site-search/schools/basic.html.twig' %}
{% elseif fields.type_1.content == 'advanced_schools' %}
     {% include '@km/templates/views/site-search/schools/advanced.html.twig' %}
{% elseif fields.type_1.content == 'alternate_paths' %}
     {% include '@km/templates/views/site-search/schools/paths.html.twig' %}
{% elseif fields.type_1.content == 'skills' %}
     {% include '@km/templates/views/skills/views-view-fields--skills.html.twig' %}
{% elseif fields.type_1.content == 'spells' %}
     {% include '@km/templates/views/spells/views-view-fields--spells.html.twig' %}
{% elseif fields.type_1.content == 'table' %}
     {% if fields.table_type_term.content == 'Heritage Table' %}
          {% include '@km/templates/views/heritage-tables/views-view-fields--heritage-tables.html.twig' %}
     {% elseif fields.table_type_term.content == 'Honor Table' %}
          <div class="views-field views-field-title">
               <h3 class="field-content">     
                    <div class="search-result-row-header">     
                         <div class="result-title">
                              <a href="/honor" title="Gains/Losses by Honor Rank">Gains/Losses by Honor Rank</a>{% if fields.source %} [{{ fields.source.content }}]{% endif %}
                         </div>

                         <div class="result-type">
                              <span class="result-icon"><i class="fa-solid fa-table"></i></span>Table<span class="equipment-arrow"><i class="fa-solid fa-arrow-right"></i></span>Honor Table
                         </div>
                    </div>          
               </h3>
          </div>
     {% else %}
          Unknown table type result in site search.

          {{ breakpoint() }}
    {% endif %}
{% else %}
     Unknown content type result in site search.

     {{ breakpoint() }}
{% endif %}
