<div class="homepage-header">
     <div class="site-name">
          <div class="intro">
               Welcome to
          </div>

          <h2>Kanawa-Mura</h2>
          
          <div class="description">
               A resource for the 4th edition of Legend of the Five Rings role-playing Game
          </div>
     </div>     
</div>

{{ drupal_view('site_search', 'block_1') }}

{% include 'radix:node' %}