<div class="homepage-header">
     <div class="site-name">
          <div class="intro">
               Welcome to
          </div>

          <h2>Kanawa-Mura</h2>
          
          <div class="description">
               A resource for the 4th edition of Legend of the Five Rings role-playing Game
          </div>

          <div class="construction">
               This site is currently under active development and should be considered to be in beta status. The data may not all be completely correct, and at times various parts might just flat out break. If you do encounter an issue, feel free to <a href="/contact" title="contact">submit feedback</a> or visit our <a href="https://github.com/nicole-benes/kanawa-mura" title="Github">Github Repo</a>.
          </div>
     </div>     
</div>

{{ drupal_view('site_search', 'block_1') }}

{% include 'radix:node' %}