{#
/**
 * @file
 * Template for the main page.
 */
#}
{% set page_attributes = attributes ?: create_attribute() %}
{% set 
  page_classes = [
    'page'
  ]|merge(page_utility_classes ?: []) 
%}

<div {{ page_attributes.addClass(page_classes) }}>
	{% block page_navigation %}
		{% include 'km:page-navigation' %}
	{% endblock %}

	{% block page_content %}
		{% include 'radix:page-content' %}
	{% endblock %}

	{% block page_footer %}
		{% include 'km:page-footer' %}
	{% endblock %}
</div>
