.grouped-view {
     &.view-tattoos {
          .views-field-title {
               font-weight: bold;

               &:after {
                    content: ":";
                    display: inline;;
               }
          }
     }

     .accordion {
          .accordion-body {
               padding: 0;
          }

          .accordion-button {
               background-color: $gray-700;
               border-color: $gray-800;
          }

          .accordion-header {
               z-index: 1050;

               &.sticky-top {
                    top: 75px;
               }
          }
     }

     .inline-technique-title {
          font-style: italic;
     }

	 .grouping-description {
          margin-bottom: 3rem;
     }

     .label {
          font-weight: bold;

          &:after {
               content: ": ";
               display: inline;
          }
     }

     .list-group {
          border: 0;
          font-weight: normal;
          font-size: 1rem;

          h6 {
               font-weight: bold;;
          }
     }

     .ancestor-group {
          margin-bottom: 3rem;
     }

     .grouped-list {
          margin-left: 1rem;

          & > .views-row {
               margin-left: 1rem;
          }

          li {
               .label {
                    font-weight: bold;;

                    &:after {
                         content: ": ";
                         display: inline;
                    }
               }
          }
     }

     .views-exposed-form {
          margin-bottom: 3rem;

          .form-actions {
               float: right;
          }

          .form-item {
               display: inline-block;
               margin-bottom: .5rem;

               label {
                    display: none;
               }
          }

          .form-type-textfield {
               width: 100%;
          }
     }

     .views-row {
          margin-bottom: 3rem;

          table {
               margin-bottom: 1rem;

               thead {
                    border-bottom: 1px solid #000;
               }

               td, th {
                    padding: 2px 10px;
               }
          }

          .paragraph-tabular-data-numeric {
               margin-bottom: 3rem;
     
               table {
                    margin-bottom: 3rem;
               }
     
               td {
                    min-width: 65px;
     
                    &:first-child {
                         text-align: center;
                    }
     
                    svg {
                         margin: 0 .25rem;
                    }
               }

               tr {
                    &:nth-child( even ) {
                         background: $gray-200;
                    }
               }
          }          
     }

     @include media-breakpoint-down(md) {
          .accordion-item {
               border: 0;
          }

          .accordion-body {
               padding-left: 0;
               padding-right: 0;
          }

          .accordion-header {
               &.sticky-top {
                    margin-left: -12px;
                    margin-right: -12px;
               }
          }

          .accordion {
               .accordion {
                    .accordion-header {
                         top: 125px;
                         
                         button { 
                              padding-left: 2rem;
                         }
                    }

                    .accordion {
                         .accordion-header {
                              top: 175px;

                              button {
                                   padding-left: 3rem;
                              }
                         }
                    }
               }

               .imperial-families,
               .miscellaneous,
               .monk,
               .ronin-families {
                    .accordion-header {
                         top: 75px;
                    }

                    .accordion {
                         .accordion-header {
                              top: 125px;
                         }
                    }
               }
          }


          .views-exposed-form {
               .form-actions {
                    width: 100%;

                    input:first-child {
                         float: left;
                    }

                    input:last-child {
                         float: right;
                    }

                    input:only-child {
                         width: 100%;
                    }

                    .btn {
                         width: 47.5%;
                    }
               }

               .form-item {
                    width: 100%;
               }
          }          
     }

     .great-clans {
          .accordion {
               .accordion-button {

               }
          }

          @include colorizeAccordion( ".crab", $crab );
          @include colorizeAccordion( ".crane", $crane );
          @include colorizeAccordion( ".dragon", $dragon );
          @include colorizeAccordion( ".lion", $lion );
          @include colorizeAccordion( ".mantis", $mantis );
          @include colorizeAccordion( ".phoenix", $phoenix );
          @include colorizeAccordion( ".scorpion", $scorpion );
          @include colorizeAccordion( ".spider", $spider );
          @include colorizeAccordion( ".unicorn", $unicorn );
     }

     &.view-spells {
          @include colorizeAccordion( '.air', $air );
          @include colorizeAccordion( '.earth', $earth );
          @include colorizeAccordion( '.fire', $fire );
          @include colorizeAccordion( '.water', $water );
          @include colorizeAccordion( '.void', $void );
     }
}

@include media-breakpoint-up(lg) {
     .grouped-view {
          &.view-advantages-disadvantages { 
               .views-exposed-form {
                    .form-type-textfield {
                         width: 43%;

                         &.form-item-point-value-value {
                              width: 8%;
                         }
                    }     
               }
          }     

          &.view-ancestors {
               .views-exposed-form {
                    .form-type-textfield {
                         width: 68%;
                    }
               }
          }

          &.view-equipment {
               .views-exposed-form {
                    .form-type-textfield {
                         width: 75%;
                    }
               }
          }

          &.view-families {
               .views-exposed-form {
                    .form-type-textfield {
                         width: 77%;
                    }
               }
          }

          &.view-heritage-tables {
               .views-exposed-form {
                    .form-type-textfield {
                         width: 65%;
                    }
               }
          }

          &.view-kata { 
               .views-exposed-form {
                    .form-type-textfield {
                         width: 82%;
                    }     
               }
          }

          &.view-kiho { 
               .views-exposed-form {
                    .form-type-textfield {
                         width: 76%;
                    }     
               }
          }

          &.view-site-search {
               .form--views-exposed-form-site-search-block-1 {
                    margin-bottom: 1rem;
               }
          }

          &.view-schools { 
               .views-exposed-form {
                    .form-type-textfield {
                         width: 50%;
                    }     
               }
          }

          &.view-skills { 
               .views-exposed-form {
                    .form-type-textfield {
                         width: 58%;
                    }
               }
          }

          &.view-spells { 
               .views-exposed-form {
                    .form-actions {
                         margin-top: 4px;
                    }

                    .form-type-entity-autocomplete {
                         width: 16.5%
                    }
                    
                    .form-type-textfield {
                         width: 52%;
                    }     
               }
          }

          &.view-tattoos { 
               .views-exposed-form {
                    .form-type-textfield {
                         width: 90%;
                    }     
               }
          }
          
          .accordion {
               .accordion {
                    margin-bottom: 3rem;

                    .accordion {
                         margin-bottom: 3rem;
                    }
               }

               .accordion-body {
                    padding: var(--bs-accordion-body-padding-y) var(--bs-accordion-body-padding-x);                    
               }

               .accordion-header {
                    &.sticky-top {
                         position: relative;
                         top: 0;
                    }
               }
          }

          .view-content {
               & > div {
                    margin-bottom: 3rem; 
     
               }
          }
     }
}

