.view-site-search {
     margin-bottom: 3rem;
     margin-top: 3rem;

     .accordion {
          .accordion-button {
               background-color: transparent;
               border: 0;
               box-shadow: none;
               color: $primary;
               font-weight: bold;
               padding: 0;
          }

          .accordion-body {
               padding-bottom: 0;
               padding-top: .25rem;
          }

          .accordion-item {
               border: 0;
          }
     }

     .result-type {
          color: $gray-600;
          font-size: 1rem;
          margin: .25rem 1.5rem;

          .equipment-arrow {
               &::before, &::after {
                    content: " ";
                    display: inline;
               }
          }

          .result-icon {
               &::after {
                    content: " ";
                    display: inline;
               }
          }
     }

     .view-empty {
          display: none;
     }

     @include media-breakpoint-up(lg) {
          .views-exposed-form {
               .form-type-textfield {
                    width: 75%;
               }     
          }
     }

     .views-row {
          border-bottom: 1px solid $gray-600;
          padding-bottom: 1.5rem;
          margin-bottom: 1.5rem;

          &:last-child {
               margin-bottom: 0;
               padding-bottom: 0;
               border: 0;
          }
     }     
}