name: Deploy to Pantheon
on:
  push:
    branches:
      - 'main'
  workflow_dispatch: 
jobs:
  build:
    runs-on: ubuntu-latest
    environment: Pantheon Deploy
    steps:
    - uses: actions/checkout@v1
    - uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.PANTHEON_SSH_KEY }}
        config: ${{ secrets.SSH_CONFIG }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
    - name: Install Terminus
      uses: pantheon-systems/terminus-github-actions@v1
      with:
        pantheon-machine-token: ${{ secrets.PANTHEON_MACHINE_TOKEN }}
    - name: Code Deployer
      env:
        pantheon_repo: '${{ secrets.PANTHEON_REPO }}'
      run: |
        git remote add pantheon $pantheon_repo
        git push pantheon HEAD:master
    - name: Pantheon Workflow Deployer
      env:
        pantheon_site_name: ${{ secrets.PANTHEON_SITE_NAME  }}
      run: |
        terminus workflow:wait l5r.dev
        commit_message=$(git log -1 --pretty=%B)
        terminus env:deploy $pantheon_site_name.test --note="Automated deploy: $commit_message"
        terminus env:deploy $pantheon_site_name.live --note="Automated deploy: $commit_message"
